.toolbar {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.toolbar label {
    display: grid;
    gap: 0.5rem;
}

.toolbar .left-actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex: 1;
}
